@import '../../scss/color';

.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background: transparent;
  border: 2px solid #000;
  cursor: pointer;
  color: inherit;
  font-size: .875rem;
  padding: .35em .5em;
  transition: .25s;

  &:focus {
    outline: none;
  }

  &:disabled {
    border-color: #DDD;
    color: #DDD;
    background: #fafafa;
    cursor: not-allowed;
  }
}

@each $label, $color in $colors {
  .#{$label} {
    composes: btn;
    color: $color;
    border-color: $color;

    &:hover:not(:disabled) {
      background: $color;
      color: #fff;
    }
  }
}